body{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

#Background{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#Profile{
    background-color: #FFF;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    padding: 0px;
}

#Profile_Name{
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 85px;
    height: 100%;
    width: 165px;
}

#SideBar{
    background-color: #FFF;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: absolute;
    top: 130px;
    left: 20px;
    width: 250px;
    padding: 0px;
}

#SideBarMenu{
    width: 700px;
    border-radius: 15px;
}

.SideBar_Menu_Item{
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
}

#Panel{
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    left: 300px;
}

#WebDisk_ToolsBar{
    position: relative;
}

#WebDisk_NaviBar{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-left: 15px;
    height: 25px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
}

.WebDisk_NaviBar_Item{
    font-size: 15px;
    position: absolute;
    cursor: pointer;
    color:rgb(87, 171, 255);
}

.WebDisk_NaviBar_Item:hover{
    color:rgb(16, 96, 177);
}

.WebDisk_NaviBar_Item_Last{
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    color:rgb(45, 114, 189);
}

.WebDisk_NaviBar_Item_split{
    position: absolute;
    color:black;
}

#WebDisk_FileTable{
    position: relative;
    overflow: auto;
    top: 30px;
    width: 100%;
}

#WebDisk_UploadArea{
    position: relative;
    width:100px;
    left: 20%;
}