input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: #777;
	vertical-align: middle;
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px;
}

input:hover{
	animation: input_hover_animation 0.5s;
	animation-fill-mode: forwards;
}

input:focus{
	animation: input_focus_animation 0.5s;
	animation-fill-mode: forwards;
}

@keyframes input_hover_animation
{
	100% {
		background-color: rgba(255, 255, 255, 0.7);
	}
}

@keyframes input_focus_animation
{
	0% {
		background-color: rgba(255, 255, 255, 0.7);
	}
	100% {
		color: #666;
		left: 80px;
        right: 80px;
        width: 220px;
		background-color: rgba(255, 255, 255, 1);
	}
}


button{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
	vertical-align: middle;
	border-style: solid;
	border-color: rgba(255, 255, 255, 1);
	border-width: 1px;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 5px;
}

button:hover{
    animation: button_hover_animation 0.5s;
	animation-fill-mode: forwards;
}

button:active{
    animation: button_active_animation 0.3s;
	animation-fill-mode: forwards;
}

@keyframes button_hover_animation
{
	100% {
		background-color: rgba(255, 255, 255, 0.9);
	}
}

@keyframes button_active_animation
{
	100% {
		color: rgba(255, 255, 255, 1);
	    border-color: rgba(0,0,0,0.5);
	    background-color: rgba(0,0,0,0.5);
	}
}

#inputBackground{
    border-radius:30px;
    position: absolute;
    height: 300px;
    width: 380px;
    background-color: rgba(255, 190, 170, 0.815);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#usernameInput{
    position: absolute;
    top: 60px;
    left: 100px;
    right: 100px;
    height: 30px;
    width: 180px;
}

#passwordInput{
    position: absolute;
    top: 110px;
    left: 100px;
    right: 100px;
    height: 30px;
    width: 180px;
}

#rememberInput{
    position: absolute;
    top: 155px;
    left: 20px;
    height: 30px;
    width: 180px;
}

#rememberInputP{
    position: absolute;
    top: 167px;
    left: 65px;
    height: 30px;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color: #444;
	vertical-align: middle;
}

#loginButton{
    position: absolute;
    width: 100px;
    height: 30px;
    top: 200px;
    left: 80px;
}

#signupButton{
    position: absolute;
    width: 100px;
    height: 30px;
    top: 200px;
    left: 210px;
}